[user]
  name = Gaveen Prabhasara
  email = gaveen@owain.org
[color]
  ui = true
[alias]
  hist = log --oneline --decorate --all --graph
  st = status -sb
[core]
  excludesfile = /home/gaveen/.gitignore
[github]
  user = gaveen
  token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
