// Niri Configuration - config.kdl
//
// Niri is a spatial window manager, or technically,
// a scrollable-tiling Wayland compositor inspired by PaperWM.
//
// This file is the main configuration file for niri.
// Each relevant configuration sections are included from respective files.

// Include: Input Devices Configuration
include "input.kdl"

// Include: Window Positioning & Behavior Configuration
include "layout.kdl"

// Include: Window Rules Configuration
include "window-rules.kdl"

// Include: Keybindings Configuration
include "binds.kdl"

// Set screenshots saving path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
