layout {
    background-color "transparent"

    focus-ring {
        active-color   "#c4c5d8"
        inactive-color "#919096"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4c5d8"
        inactive-color "#919096"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c4c5d8"
        inactive-color "#919096"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4c5d880"
    }
}

recent-windows {
    highlight {
        active-color   "#8e90a1"
        urgent-color   "#ffb4ab"
    }
}